################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tarea10/01_UnitTestingExample_begin/.vs/UnitTestingExample/v15/Server/sqlite3/db.lock
/Tarea10/02_ErrorHandlingExample_begin/.vs/ErrorHandlingExample/v15/Server/sqlite3/db.lock
/Tarea10/03_LoggingExample_begin/.vs/LoggingExample/v15/Server/sqlite3/db.lock
/Tarea10/01_ShirtStore_begin/.vs/ShirtStore/v15/Server/sqlite3/db.lock
/Tarea11/01_Library_begin/.vs/Library/v15/Server/sqlite3/db.lock
/Tarea11/demos/01_IdentityExample_begin/.vs/IdentityExample/v15/Server/sqlite3/db.lock
/Tarea11/demos/02_AuthorizeExample_begin/.vs/IdentityExample/v15/Server/sqlite3/db.lock
/Tarea12/lab/01_ElectricStore_begin/.vs/ElectricStore/v15/Server/sqlite3/db.lock
/Tarea12/demos/01_CachingExample_begin/.vs/CachingExample/v15/Server/sqlite3/db.lock
/Tarea12/demos/02_StateExample_begin/.vs/StateExample/v15/Server/sqlite3/db.lock
/Tarea12/demos/03_SignalRExample_begin/.vs/SignalRExample/v15/Server/sqlite3/db.lock
/Tarea13/lab/01_Restaurant_begin/.vs/Restaurant/v15/Server/sqlite3/db.lock
/Tarea13/demo/01_WebApiExample_begin/.vs/WebApiExample/v15/Server/sqlite3/db.lock
/Tarea13/demo/02_JQueryExample_begin/.vs/JQueryExample/v15/Server/sqlite3/db.lock
/Tarea13/demo/03_HttpClientExample_begin/.vs/HttpClientExample/v15/Server/sqlite3/db.lock
/Tarea14/lab/01_Underwater_begin/.vs/Underwater/v15/Server/sqlite3/db.lock
/Tarea14/demo/AzureWebAppExample/AzureWebAppExample/.vs/AzureWebAppExample/v15/Server/sqlite3/db.lock
